fastapi
uvicorn
mcp
langgraph
langchain
langchain-openai
pypdf
python-docx
duckduckgo-search
python-dotenv
langchain-postgres
psycopg
langchain-openai
sentence-transformers
langchain-text-splitters
aiokafka
sqlmodel
asyncpg
reportlab
python-jose[cryptography]
passlib[argon2]
python-multipart
